@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: sans-serif; 
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  height: 60px; 
  background-color: #000000;
  transition: transform 0.3s ease-in-out;
  border-bottom: 1px solid #333;
}

.dotted-underline {
  border: none;
  position: relative;
}

.dotted-underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.6px;
  background-image: linear-gradient(90deg, #2E2E2E 0.6px, transparent 0.6px);
  background-size: 5px 0.6px;
  background-repeat: repeat;
}

.nav-link {
  position: relative;
  color: #666666;
  text-decoration: none;
  transition: color 0.5s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1.2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.nav-link:hover {
  color: #ffffff;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link:not(:hover)::after {
  transform: scaleX(0);
  transform-origin: right;
}

.right-links a {
  color: #666666;
  transition: color 0.3s ease;
}

.right-links a:hover {
  color: #ffffff;
}

.get-started-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  border: 1px solid #666666; 
  color: #ffffff;
  transition: all 0.3s ease;
}

.get-started-button:hover {
  background-color: #6b21a8; 
  border-color: transparent;
}

.get-started-button span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  background-color: #6b21a8;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.get-started-button:hover span {
  background-color: #ffffff;
  color: #6b21a8;
}

.border-dark-gray {
  border: none;
}
